:root {
  --blue: #007acd;
  --light-blue: #02a8b1;
  --dark-blue: #404da1;
  --red: #ed145b;
  --white-gray: #f2f2f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
